<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/axios/dist/axios.min.js"></script>
    <!-- <title>chatting</title> -->
</head>
<body>
    <div><button>입장</button></div>
    <form></form>
    <div class="entry-box">
        <input type="text" id="nickname" placeholder="닉네임"> 
        <button type="button" onclick="entry();">입장</button>
    </div>

    <div class="chat-box">
        <div id="chat-list" class="chat-list">
        </div>

        <input type="text" id="message">
        <button type="button" onclick="send();">전송</button>
    </div>

    <script>
        var socket = io.connect();
        var chatdata = 

        axios({
            url : "/chatting/get",
            method :"get", 
            data : {
                
            }
        }) //대화내역 > DB
        axios({
            url : "/chatting/post",
            method :"post", 
            data : chatdata
        }) //대화내역 > DB


        var myNick; 

        function entry(){
            socket.emit("setNick", $("#nickname").val());
        }

        function send(){
            var data = {
                myNick: myNick,
                msg: document.getElementById("message").value
            }
            socket.emit("send", data);

        }

        function socketEvent(){
            socket.on("newMessage", (data) => {
                let chat_list = document.getElementById("chat-list");
                let div = document.createElement("div"); 
                let div_chat = document.createElement("div"); 

                if ( myNick == data.nick ) div.classList.add("my-chat");
                else div.classList.add("other-chat");

                div_chat.textContent += data.nick + " : " +  data.msg;
                
                div.appendChild(div_chat);
                chat_list.appendChild(div);
            });

            // 입장 공지
            socket.on("notice", (msg) => {
                $("#chat-list").append(`<div class="notice">${msg}</div>`);
            });


        }
        
    </script>    
</body>
</html>