<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MBTingI</title>
    <!--style css-->
    <link rel="stylesheet" href="./../static/css/main.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <!-- icon -->
    <script
      src="https://kit.fontawesome.com/c44f54db1d.js"
      crossorigin="anonymous"
    ></script>
    <!--jquery-->
    <script
      src="https://code.jquery.com/jquery-3.6.1.slim.min.js"
      integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA="
      crossorigin="anonymous"
    ></script>
    <!--slick js-->
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <script
      type="text/javascript"
      src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="row">
          <a href="#"
            ><h1 class="logo">
              <img src="./../static/img/logo.png" alt="logo" /></h1
          ></a>
          <nav class="nav">
            <ul>
              <!-- <%//if ( !isLogin ) { %> -->
                <!-- <p>님 환영합니다.</p>
                <a href="logout">로그아웃</a> -->
                <!-- <%// } else { %> -->
                  <!-- <li><a href="/signin">로그인</a></li>
              <li><a href="/signup">회원가입</a></li> -->
                <!-- <%// } %> -->
              <!-- <li><a href="/signin">로그인</a></li>
              <li><a href="/signup">회원가입</a></li> -->
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <section id="content1">
      <div class="container">
  <div class="content-row">
    <div class="content-left">
      <h1 class="content-title">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A, dicta.
        <!-- 나랑 딱 맞는<br />
         <span class="content-title-span">MBTI</span> <br />
        끼리끼리 -->
      </h1>
      <a href="/signup" class="button-main">
        <button type="button">가입하기</button>
      </a>
     </div>
     <div class="content-right">
      <div class="main-img">
        <img src="./../static/img/main-img.png" alt="">
      </div>
  </div>
     </div>
      </div>
      <div class="heart-message">
        <img src="./../static/img/heart-messge.png" alt="">
      </div>
      <div class="INFP-message">
        <img src="./../static/img/Group 96.png" alt="">
      </div>
      <div class="ENTP-message">
        <img src="./../static/img/Group 97.png" alt="">
      </div>
    </section>
    <section id="content2">
      <div class="container">
        <div class="content2-title-group">
          <h1 class="content2-title">
            지구상에 없던<br />
            새로운 매칭
          </h1>
          <p class="content2-desc">
            MBTI 결과에 따라 달라지는 스토리!<br />내가 선택한 mbti 를
            확인하고,<br />
            궁합에 따른 이성들과 매칭까지!
          </p>
        </div>
      </div>
    </section>
    <section id="content3">
      <div class="container">
        <div class="content3-title-group">
          <h1 class="content3-title">
            좋은사람들과<br />
            엠비팅아이에서<br />
            매칭해보세요!
          </h1>
          <p class="content3-desc">
            MBTI 결과에 따라 달라지는 스토리!<br />내가 선택한 mbti 를
            확인하고,<br />
            궁합에 따른 이성들과 매칭까지!
          </p>
        </div>
      </div>
    </section>
    <section id="content4">
      <!-- <div class="post-slider">
        <h1 class="sider-title">MBTingI의 생생한 후기</h1> -->
        <div class="page-wrapper" style="position: relative">
          <!--page slider -->
          <div class="post-slider">
            <h1 class="silder-title">MBTingI의 생생한 후기</h1>
            <i class="fas fa-chevron-left prev"></i>
            <i class="fas fa-chevron-right next"></i>
            <div class="post-wrapper responsive">
              <div class="post">
             <div class="post-item">
              <div class="post-img">
                <!-- <img src="./../static/img/logo.png" alt=""> -->
               </div>
                <div class="post-info">
                  <h4 class="post-desc">
                    <a href="#" class="post-subject"
                      >저에게 딱 맞는 상대를 찾았어요!
                    </a>
                  </h4>
                  <p class="post-mbti-detail">
                    ENTP / 여
                  </p>
                </div>
             </div>
              </div>
              <div class="post">
                <div class="post-item">
                  <div class="post-img">
                    <!-- <img src="./../static/img/logo.png" alt=""> -->
                   </div>
                    <div class="post-info">
                      <h4 class="post-desc">
                        <a href="#" class="post-subject"
                          >저에게 딱 맞는 상대를 찾았어요!
                        </a>
                      </h4>
                      <p class="post-mbti-detail">
                        ENTP / 여
                      </p>
                    </div>
                 </div>
              </div>
              <div class="post">
                <div class="post-item">
                  <div class="post-img">
                    <!-- <img src="./../static/img/logo.png" alt=""> -->
                   </div>
                    <div class="post-info">
                      <h4 class="post-desc">
                        <a href="#" class="post-subject"
                          >저에게 딱 맞는 상대를 찾았어요!
                        </a>
                      </h4>
                      <p class="post-mbti-detail">
                        INFP / 남
                      </p>
                    </div>
                 </div>
              </div>
              <div class="post">
                <div class="post-item">
                  <div class="post-img">
                    <!-- <img src="./../static/img/logo.png" alt=""> -->
                   </div>
                    <div class="post-info">
                      <h4 class="post-desc">
                        <a href="#" class="post-subject"
                          >저에게 딱 맞는 상대를 찾았어요!
                        </a>
                      </h4>
                      <p class="post-mbti-detail">
                        INFJ / 여
                      </p>
                    </div>
                 </div>
              </div>
              <div class="post">
                <div class="post-item">
                  <div class="post-img">
                    <!-- <img src="./../static/img/logo.png" alt=""> -->
                   </div>
                    <div class="post-info">
                      <h4 class="post-desc">
                        <a href="#" class="post-subject"
                          >저에게 딱 맞는 상대를 찾았어요!
                        </a>
                      </h4>
                      <p class="post-mbti-detail">
                        INFJ / 여
                      </p>
                    </div>
                 </div>
              </div>
            </div>
          </div>
          <!--post slider-->
        </div>
      </div>
    </section>
    <section id="content5">
      <div class="container">
        <h1 class="content5-title">
          본인의 MBTI를 먼저 확인하세요
        </h1>
        <div class="content5-list">
          <a href="https://www.16personalities.com/ko/%EB%AC%B4%EB%A3%8C-%EC%84%B1%EA%B2%A9-%EC%9C%A0%ED%98%95-%EA%B2%80%EC%82%AC">
            <p class="list-item"><i class="fa-solid fa-link"></i>검사하러가기</p>
          </a>
          <!-- <p class="list-item">MBTingI를 테스트 해주세요!</p>
          <p class="list-item">자신에게 맞는 상대와 매칭 하세요</p> -->
        </div>
      </div>
    </section>
    <footer id="footer">
      <div class="container">
       <div class="footer-title">
        <span class="footer-adress">회사정보</span>
        <span class="footer-adress">소셜미디어</span>
       </div>
        <ul class="footer-detail">
          <li>(주)엠비팅아이 서울특별시 마포구 염리동길 6 (마포구,스프레틱스)    대표자: E2I2</li>
          <li>사업자등록번호: 119-86-44136     통신판매업신고번호: 제 2021-서울마포구-3643호</li>
          <li>문의전화: 010-8689-5012     문의메일: dhrekdo5@kakao.com</li>
          <li>©2022. MBTingI, Inc. All rights reserved.</li>
        </ul>
      </div>
    </footer>
    <!--testmonial-->
    <script>
      $('.post-wrapper').slick({
        slidesToShow: 4,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 500,
        nextArrow: $('.next'),
        prevArrow: $('.prev'),
      })
    </script>
  </body>
  <script></script>
</html>
