<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
    <!-- style -->
    <link rel="stylesheet" href="./../static/css/style.css" />
    <link rel="stylesheet" href="./../static/css/signup.css" />
    <!-- icon -->
    <script
      src="https://kit.fontawesome.com/c44f54db1d.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="containerSignup">
      <h2>Sign Up</h2>
      <div class="signup">
        <a class="logo" href="/"><img src="./../static/img/logo.png" /></a>
        <form id="signupForm">
          <input type="text" name="mbti" placeholder="나의 MBTI" required />
          <a
            target="_blank"
            href="https://www.16personalities.com/ko/%EB%AC%B4%EB%A3%8C-%EC%84%B1%EA%B2%A9-%EC%9C%A0%ED%98%95-%EA%B2%80%EC%82%AC"
            ><u><i class="fa-solid fa-link"></i> MBTI검사 하러가기</u></a
          >
          <input type="text" name="id" placeholder="아이디" required />
          <input type="password" name="pw" placeholder="비밀번호" required />
          <input type="text" name="name" placeholder="이름" required />
          <input type="number" name="age" placeholder="나이" required />
          <input type="text" name="nick" placeholder="닉네임" required />

          <div class="radio">
            <div><i class="fa-solid fa-venus-mars"></i></div>
            <div>
              <label for="man"> 남</label
              ><input type="radio" name="gender" id="man" required />
            </div>
            <div>
              <label for="woman"> 여</label
              ><input type="radio" name="gender" id="woman" required />
            </div>
          </div>
          <button id="signupBtn" type="button" onclick="onSignup()">
            회원가입
          </button>
        </form>
      </div>
    </div>
    <script>
      function onSignup() {
        var form = document.querySelector("form");

        // required
        if (!form.checkValidity()) {
          form.reportValidity();
          return false;
        }
      }
    </script>
  </body>
</html>
