<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- axios -->
    <script src="/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div>서버 테스트 페이지</div>
  </body>
  <script>
    function test() {
      axios({
        method: "get",
        url: "/test/test",
      })
        .then((data) => {
          return data.data;
        })
        .then((data) => {
          console.log(data);
        });
    }
    test();

    function userinfo() {
      axios({
        method: "post",
        url: "/test/user",
        data: {
          mbti: "enfp",
          id: "qwe123",
          pw: "qwe123",
          email: "qwe11@google.com",
          name: "이주영",
          birth: "20220222",
          nick: "하이",
          gender: "남",
        },
      })
        .then((rep) => {
          return rep.data;
        })
        .then((data) => {
          console.log(data);
        });
    }
    userinfo();
  </script>
</html>
