body {
  margin: 0;
  padding: 0 50px;
}
.wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 30px;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.chatList {
  border: 1px solid black;
  width: 100%;
  height: 90%;
  flex: 3;
}
.chatBox {
  background-color: skyblue;
  border: 1px solid black;
  width: 100%;
  height: 90%;
  flex: 7;
  position: relative;
}
.sendBox {
  position: absolute;
  height : 100px;
  width : 100%;
  bottom : 0;
}
.msgBox {
  padding : 0px 15px 0px 15px;
  border : 1px solid black;
  height : 98px;
  width : 88%
}
.sendBtn {
  float : right;
  width : 5%
}
.my-chat { 
  text-align: right; 
  margin-bottom: 5px;
}
.my-chat div { 
  background-color: yellow; 
}
.other-chat div { 
  background-color: white;
}
.notice {
  text-align: center;
  color: #005397;
  font-size: 12px;
}