body {
  margin: 0;
  padding: 0 50px;
}
.wrap {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  /* text-align: center; */
  gap: 30px;
  height: 100vh;
  /* justify-content: center; */
  align-items: center;
}
.chatList {
  /* border: 1px solid black; */
  width: 100%;
  height: 90%;
  flex: 3;
}
.chatList::-webkit-scrollbar {
  display: none;
}

.chatd {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  flex: 7;
}
.chatBox {
  background-color: skyblue;
  width: 100%;
  height: 70%;
  position: relative;
  overflow: auto;
  flex: 9;
}
.sendBox {
  background: #f5f5f5;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
  width: 100%;
}
.msgBox {
  padding: 0px 15px 0px 15px;
  border: 0;
  height: 70px;
  width: 88%;
  background: #fff;
  border-radius: 40px;
  margin-right: 17px;
}
.sendBtn {
  float: right;
  width: 5%;
}
.my-chat,
.my-chat_DB {
  text-align: right;
  display: flex;
  justify-content: end;
}
.my-chat > div,
.my-chat_DB {
  display: inline-block;
  justify-content: end;
  background-color: yellow;
  margin-bottom: 5px;
  max-width: 50%;
  word-break: break-all;
}

.other-chat,
.other-chat_DB {
  text-align: left;
  display: flex;
  /* justify-content: end; */
}

.other-chat > div,
.other-chat_DB {
  background-color: white;
  display: inline-block;
  margin-bottom: 5px;
  max-width: 50%;
  word-break: break-all;
}

.my-chat_time,
.other-chat_time {
  background-color: skyblue !important;
  font-size: x-small;
  display: flex;
  /* width: 15%; */
}
.my-chat_time {
  text-align: right;
  justify-content: right;
  align-items: right;
  margin-right: 5px;
}
.other-chat_time {
  text-align: left;
  justify-content: left;
  align-items: left;
  margin-left: 5px;
}

.d-none {
  display: none;
}
.chat_room {
  width: 90%;
  height: 15%;
  border: 1px solid black;
}
#sendNick {
  font-size: larger;
  height: auto;
}
.sendBtn {
  margin-right: 10px;
  font-size: larger;
  width: auto;
}

aside.asideChat {
  position: fixed;
  left: -280px;
  top: 0;
  width: 280px;
  height: 100%;
  background-color: #fff;
  border-radius: 0 0 0 0.5rem;
  box-shadow: 0px 4px 11px rgb(0 0 0 / 40%);
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
  z-index: 100;
}
aside.asideChat #autoBtn {
  position: absolute;
  right: -2.5rem;
  top: 0;
  width: 2.5rem;
  height: 2.2rem;
  margin-right: auto;
  background-color: #fff;
  border-radius: 0 0.5rem 0.5rem 0;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}
aside.asideChat #autoBtn i {
  font-size: 1.2rem;
}
aside.asideChat .logo {
  display: block;
  width: 4rem;
  height: 4rem;
  margin: 0 auto 2rem;
}
aside.asideChat .logo img {
  width: 100%;
  height: auto;
}
.chatList h3 {
  color: #6e4cde94;
  margin: 1rem 0;
}
.chatList hr {
  border: 0.5px solid var(--main-color);
}
.chatList ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chatList ul li {
  height: 3rem;
  line-height: 3rem;
  font-size: 1rem;
}
.chatList ul li a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
.chatList ul li a:hover {
  background-color: #6e4cde49;
}
