.containerMat {
  width: 100%;
  height: 100vh;
  background: #4568dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #b06ab3,
    #4568dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #b06ab3,
    #4568dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* carousel */
#carouselExampleControlsNoTouching {
  width: 60vw;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}
.carousel-inner {
  width: 100%;
  height: 100%;
}
.carousel-item {
  width: 100%;
  height: 100%;
}
.imgArea {
  width: 100%;
  height: 50%;
}
.carousel-item img {
  width: 100%;
  height: auto;
}
#carouselExampleControlsNoTouching button > span:first-child {
  margin-bottom: 3rem;
}
/* .containerMat .view .matchingBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.containerMat .view .matchingBox .profileList {
  width: 100%;
  height: 100%;
}
.containerMat .view .arrow {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 130%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.containerMat .view .arrow button {
  width: 4rem;
  height: 4rem;
  background-color: #89d8d3b0;
  border-radius: 100%;
  box-shadow: 2px 2px 3px rgba(39, 39, 39, 0.5);
}
.containerMat .view .arrow button i {
  font-size: 2rem;
  color: #fff;
}
.containerMat .imgView {
  position: relative;
  width: 100%;
  height: 50%;
  padding: 1rem 0;
  box-sizing: border-box;
}
.containerMat .imgView .img {
  width: 90%;
  height: 100%;
  box-shadow: inset 2px 2px 2px 0px rgba(39, 39, 39, 0.5);
  background: url("../img/creator3.jpeg") no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 0.5rem;
  overflow: hidden;
} */
.containerMat .profile {
  width: 100%;
  height: 50%;
  background-color: #fff;
}
.containerMat .profile .title {
  padding: 1rem;
  text-align: center;
}
.containerMat .profile .title .nick {
  font-size: 1.2rem;
  color: var(--main-color);
}
.containerMat .profile .list {
  margin: 0 auto;
  width: 80%;
  height: 70%;
  border: 1px solid var(--main-color);
  border-radius: 0.5rem;
}
.containerMat .profile .list ul {
  width: 90%;
  height: 25%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding-left: 0;
}
.containerMat .profile .list ul li {
  border-bottom: 1px solid var(--main-color);
  color: var(--main-color);
  text-align: center;
}
.containerMat .profile .list ul li span {
  color: #000;
}
.containerMat .profile .introduce {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.containerMat .profile .introduce i {
  color: var(--main-color);
  font-weight: bold;
  text-align: center;
}
.containerMat .profile .introduce textarea {
  border: 1px solid var(--main-color);
  resize: none;
  border-radius: 0.5rem;
  width: 100%;
  height: 6rem;
  margin-top: 1rem;
  padding: 0.5rem;
  box-sizing: border-box;
}
#checkBtn {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  width: 7rem;
  height: 2rem;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
}
