.Myprofile {
  width: 50vw;
  max-width: 470px;
  min-width: 350px;
  height: 85vh;
  background-color: rgba(255, 255, 255);
  position: absolute;
  left: 50%;
  top: 52%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  border: 1px solid #fff;
  box-shadow: inset 2px 2px 2px 0px rgb(255 255 255 / 50%),
    7px 7px 20px 0px rgb(0 0 0 / 10%), 4px 4px 5px 0px rgb(0 0 0 / 10%);
}
.Myprofile form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 100%;
  justify-content: space-evenly;
}
.Myprofile input {
  background-color: transparent;
  border: 1px solid var(--main-color);
  width: 60%;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.Myprofile form input.borderStyle {
  background-color: transparent;
  border: 1px solid var(--main-color);
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.Myprofile form div.readDiv {
  font-size: 0.9rem;
  color: var(--main-color);
  width: 60%;
  height: 2rem;
  border-bottom: none;
}
.Myprofile .logo {
  display: block;
  margin: 1rem auto 0;
  text-align: center;
}
.Myprofile .logo img {
  width: 3rem;
  height: auto;
}
.Myprofile form input::placeholder {
  color: var(--main-color);
}
.button-update {
  display: block;
  margin: 0.8rem auto 0;
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  width: 7rem;
  height: 2rem;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
}
.button-update:hover {
  background: linear-gradient(
      180.9deg,
      #b06ab3 -18.92%,
      #4568dc 99.21%,
      rgba(69, 104, 220, 0) 99.23%,
      #6769cf 99.23%,
      #6469d0 99.23%
    ),
    #4568dc;
  transition: 3s smooth;
}

/* mobile */
@media (max-width: 576px) {
  .Myprofile form input.borderStyle {
    width: 100%;
  }
  textarea {
    width: 70%;
    height: 4rem;
    padding: 0.5rem;
    border: 1px solid var(--main-color);
    resize: none;
    border-radius: 0.3rem;
  }
}
